MONGO_URI=mongodb://localhost:27017/flare
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
JWT_ACCESS_SECRET=change_me_in_production
JWT_REFRESH_SECRET=change_me_in_production
PORT=3000
